body {
    background-color: rgb(39, 39, 39);
    color: rgb(238, 238, 238);
}

h2 {
    margin-top: 0;
}

.layout {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1;
    max-width: 1024px;
}

#main-title {
    margin: 0 auto;
}

.layout form {
    margin-bottom: 3rem;
}

#top-users-table {
    border-collapse: collapse;
}

#top-users-table td {
    border: 1px solid rgb(238, 238, 238);
    padding: 0 1rem;
}

#chat-wrapper {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

#chatbox {
    background-color: burlywood;
    border-radius: 1rem;
    border: 1px solid white;
    min-width: 20rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#chat-messages {
    flex-grow: 1;
    overflow: auto;
    scroll-behavior: smooth;
}

#chat-controls {
    display: flex;
}