body {
    background-color: rgb(39, 39, 39);
    color: rgb(238, 238, 238);
}

.layout {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1;
    max-width: 1024px;
}

#main-title {
    margin: 0 auto;
}

form {
    margin-bottom: 3rem;
}